@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');



*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
}

header{
    background-color: black;
    padding: 50px;
    
    
    
}

header > h1{
    font-family: "Passion One", sans-serif;
    text-align: center;
    color: white;
    font-size: 3.5em;
    padding-bottom: 10px;
}

header > p{
    font-family: "Passion One", sans-serif;
    text-align: center;
    color: white;
    font-size: 1em;
    font-weight: 200;
    text-decoration: none;


}

header > p > a{
    
    color: white;
    text-decoration: none;
}
header > p > a:hover{
    color: white;
    text-decoration: underline;
}
p{
    font-family: Sriracha ;
    font-size: 2em;
    text-align: left;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
}
section > p{
    
    padding-left: 30px;
}
section.background#flor{
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-image: url(pacote-d012/imagens/background001.jpg);
    background-position: center right;
    background-size: cover;
    background-attachment: fixed;
    
}

section.background#flor > p{
    display: inline-block;
    background-color: rgba(128, 128, 128, 0.585);
    max-width: 400px;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding-left: 10px;
    margin: 30px;
}
section.background#livro{
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-image: url(pacote-d012/imagens/background002.jpg);
    background-size: cover;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.377);
    background-attachment: fixed;

}
section.background#livro > p{
    background-color: rgba(128, 128, 128, 0.296);
    max-width: 400px;
    color: black;
    text-shadow: 1px 1px 1px white;
    
    padding-left: 10px;
    margin: 30px;
    
}





footer{
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}


footer > p{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
}

footer > p > a{
    color: white;
}
footer > p > a{
    color: white;
    text-decoration: none;
}
footer > p > a:hover{
    color: white;
    text-decoration: underline;
}