@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: gainsboro;
}

header{
    padding: 10px;
    background-color: gray;
    border: 1px dotted black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header > h1{
    color: white;
    text-align: left;
    text-shadow: 2px 1px 3px black;
    border: 1px dotted black;
    flex: 0 0 200px;
}

header > nav{
    border: 1px dotted black;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

header > nav > a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
}
header > nav > a:hover{
    background-color: white;
    color: black;
    transition: background-color 0.5s;
}
main{
    height: 90vh;
    width: 100vw;
    background-color: gainsboro;
}

main > div{
    border-radius: 10px;
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    text-align: justify;
    
}
main > div > p{
    text-indent: 5px;
    text-align: justify;
    padding: 10px;
}
main > div > h2{
    text-align: justify;
    padding-top: 10px;
    text-indent: 10px;
}