@charset "UTF-8";

@media all{


    *{
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }
    body, html{
        width: 100vw;
        height: 100vh;
    }
    header{
        background-color: darkgray;
    }
    header h1{
        text-align: center;
        padding: 10px;
    }
    menu ul{
        list-style: none;
        
    }
    menu li{
        display: block;
        background-color: rgb(98, 98, 98);
        padding: 10px;
        border-top: 2px solid gray;
        text-align: center;
    }
    menu a{
        text-decoration: none;
        color: white;
    }

    menu a:hover{
        text-decoration: underline;
        color: black;
        transition: 2s;
        
    }
    menu li:hover{
        background-color: white;
        transition: 3s;
    }

    body{
        background-color: beige;
    }
    main{
        margin: auto;
        width: 85vw;
        background-color: white;
        border-radius: 10px ;
        margin-top: 10px;
        padding: 10px;

    }
    main p{
        margin-bottom: 20px;
        text-indent: 20px;
        line-height: 1.5em;

        text-align: justify;
    }
    main h2{
        padding-bottom: 20px;
        
    }


}