@charset "UTF-8";


div.conteiner{
    background-color: lightsalmon;
    display: flex;
    flex-direction: row;
}

div.filho{
    background-color: lightskyblue;
    border: 1px solid black;
    text-align: center;
    flex: auto;
    padding: 10px;
    
}
div.corpo_texto{
    background-color: azure;
    display: flex;
}
div.item{
    margin-top: 10px;
    background-color: aqua;
    flex: auto;
    border-radius: 5px;
}