@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    text-indent: 30px;
}
p#in{
    text-indent: 0px;
}

div.conteiner{
    display: flex;
    flex-flow: row nowrap;
    background-color: lightsalmon;

}
div.filho{
    background-color: lightskyblue;
    border: 1px solid black;
    text-align: center;
}
/*
    
    sequencia da shorthand flex: -> flex-grow + flex-shrink + flex-basis
    grow: crescer
    shrink: diminuir
    basis: tamanho determinado do item

*/
div#cxA{
    flex: 0 1 200px
}
div#cxB{
    flex: 2 0 200px;
}
div#cxC{
    flex: 1 2 200px;
}

div#flex-s{
    border: 1px solid black;
    text-align: center;
    background-color: blanchedalmond;
}

div#flex-s > p > span{
    background: rgb(247, 247, 142);
    
}