@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    margin: 0px;
}

header{
    background-color: white;
    padding: 10px;
    margin: 10px;
}
main{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 6px 20px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.429);
}

article{
    background-color: lightgray;
}

article > aside{
    background-color: rgb(165, 165, 165);
}
footer > p{
    margin: 0px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 0px;
}

nav{
    background-color: rgb(107, 106, 106);
    padding: 3px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.379);;
}

nav > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
}

nav > a:hover{
    text-decoration: underline;
}

section#assuntos > a{
    color: white;
    background-color: rgb(107, 107, 107);
    margin-right: 30px;
    text-align: left;
    text-decoration: none;
    font-weight: bolder;
}

section#assuntos > a:hover{
    background-color: white;
    color: black;
}

div#bola{
    height: 100px;
    width: 100px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}