@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    text-indent: 30px;
}
div#imagem{
    background: url(../imagens/justify.png);
    margin: auto;
    width: 400px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}

div.conteiner{
    background-color: lightsalmon;
    display: flex;
    flex-flow: row wrap;
    
    align-content: space-evenly ;
    height: 400px;
    
    
    
}
div.filho{
    background-color: lightskyblue;
    border: 1px solid black;
    text-align: center;
    padding: 40px;
}